@model PagedList<Model_9H.EntityShopInfoModel>

<table class="table table-bordered table-striped">
    <tr>
        <th class="nowrap">序号</th>
        <th>门店名称</th>
        <th>分店名称</th>
        <th>地址</th>
        <th>电话</th>
        <th>操作</th>
    </tr>
    @if (Model != null && Model.Any())
    {
        int i = 0;
        foreach (var item in Model)
        {
            <tr>
                <td>@(Model.StartItemIndex + i++)</td>
                <td>@item.BusinessName</td>
                <td>@item.BranchName</td>
                <td>@item.Province @item.City @item.District @item.Address</td>
                <td>@item.Telephone</td>
                <td><a href="/app/entityshop/edit/@item.PoiID">查看绑定的公众号</a></td>
            </tr>
        }
    }
</table>
<div class="pagination-box">
    @Ajax.Pager(
        Model,
        new PagerOptions
        {
            ContainerTagName = "ul",
            CssClass = "pagination",
            CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
            DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
            PagerItemTemplate = "<li>{0}</li>",
            AutoHide = true,
            HtmlAttributes = new Dictionary<string, object> { { "style", "float:right" } }
        },
        new MvcAjaxOptions
        {
            UpdateTargetId = "js_view",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            DataFormId = "searchForm"
        })
</div>
